* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  display: grid;
  place-items: center;
}

.countdown {
  width: 100%;
  height: 100%;
  display: none;
  place-items: center;
  color: green;
  font-size: 10rem;
  font-weight: 900;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  inset: 0 0 0 0;
  z-index: 10000;
}

.screen-recorder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  height: 100%;
  background-color: #f7fafc;
  color: #202020;

  h1 {
    text-transform: capitalize;
    font-size: 4rem;
    font-weight: bold;
    color: #202020;
  }

  video {
    width: 782px;
    max-height: 440px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2), -4px -4px 10px rgba(0, 0, 0, 0.2);
  }
}

.btn {
  background-color: #428bca;
  color: #fff;
  font-weight: bold;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.08);
  transition: background-color 0.3s ease;
  border: 1px solid #428bca;
  cursor: pointer;
  text-transform: capitalize;
  font-weight: 900;

  &:hover {
    background-color: #357ec7;
  }
}

a {
  text-decoration: none;
  margin-inline-start: 20px;
}
