.full {
    position: fixed;
    inset: -60px;
    z-index: 576;
    display: grid;
}
.full:before,
.full:after {
    content: "";
    grid-area: 1/1;
    background: conic-gradient(from 90deg at 4px 4px, #0000 90deg, #2790b0 0);
    background-size: 60px 60px;
    -webkit-mask: repeating-conic-gradient(from var(--s, 0deg), #0000 0 90deg, #000 0 180deg) 0 0/120px
        120px;
    animation: f 1s infinite linear alternate;
}
.full:after {
    --s: 90deg;
    --p: -30px;
}
@keyframes f {
    0%,
    20% {
        transform: translate(0, 0);
    }
    80%,
    100% {
        transform: translate(var(--p, 30px), var(--p, 30px));
    }
}
