@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    gap: 30px;
}
div {
    display: flex;
    gap: 30px;
}
a {
    position: relative;
    background: #0690fd;
    color: #fff;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.1em;
    letter-spacing: 0.1em;
    transition: 0.5s;
    overflow: hidden;
    box-shadow: 0 20px 25px #0690fd44;
}
a:hover {
    width: 200px;
    transition-delay: 0.5s;
}
a::before {
    content: "";
    position: absolute;
    right: 25px;
    width: 12px;
    height: 12px;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    transform: rotate(45deg);
    transition: 0.5s;
}
a:hover::before {
    transform: rotate(45deg) translate(50px, -50px);
}
a::after {
    content: "";
    position: absolute;
    left: -50px;
    width: 12px;
    height: 12px;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    transform: rotate(45deg) translate(-50px, 50px);
    transition: 0.5s;
}
a:hover::after {
    transform: rotate(45deg) translate(50px, -50px);
    transition-delay: 1s;
}
a span {
    opacity: 0;
    visibility: hidden;
    white-space: nowrap;
    transition: 0.5s;
    transform: translateX(-30px);
}
a:hover span {
    visibility: visible;
    opacity: 1;
    transform: translateX(10px);
    transition-delay: 0.75s;
}
