* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222327;
}
.navigation {
    position: relative;
    width: 400px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.navigation ul {
    display: flex;
    width: 350px;
}
.navigation ul li {
    list-style: none;
    position: relative;
    /* 350 / 5 = 70 */
    width: 70px;
    height: 60px;
    z-index: 2;
}
.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
}
.navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 65px;
    font-size: 1.5em;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    transition: 0.5s;
    transition-delay: 0s;
    color: #222327;
}
.navigation ul li.active a .icon {
    transform: translateY(-27px);
    color: #fff;
    transition-delay: 0.25s;
    background: var(--clr);
}
.navigation ul li a .icon::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    transition-delay: 0s;
    border-radius: 50%;
    background: var(--clr);
    filter: blur(5px);
    opacity: 0;
}
.navigation ul li.active a .icon::before {
    transition-delay: 0.5s;
    opacity: 0.5;
}
.indicator {
    position: absolute;
    top: -35px;
    width: 70px;
    height: 70px;
    background: #fff;
    border-radius: 50%;
    z-index: 1;
    transition: 0.5s;
}
.indicator::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -28px;
    width: 30px;
    height: 30px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 15px 18px #fff;
}
.indicator::after {
    content: "";
    position: absolute;
    top: 5px;
    right: -28px;
    width: 30px;
    height: 30px;
    background: transparent;
    border-radius: 50%;
    box-shadow: -15px 18px #fff;
}

.navigation ul li:nth-child(1).active ~ .indicator {
    transform: translateX(calc(70px * 0));
}
.navigation ul li:nth-child(2).active ~ .indicator {
    transform: translateX(calc(70px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator {
    transform: translateX(calc(70px * 2));
}
.navigation ul li:nth-child(4).active ~ .indicator {
    transform: translateX(calc(70px * 3));
}
.navigation ul li:nth-child(5).active ~ .indicator {
    transform: translateX(calc(70px * 4));
}
