* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #252839;
}

ul {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

ul li {
    position: relative;
    list-style: none;
}

ul li a {
    position: relative;
    font-size: 4em;
    text-decoration: none;
    line-height: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
}

ul li a::before {
    content: attr(data-text);
    position: absolute;
    color: var(--color);
    width: 0%;
    overflow: hidden;
    transition: 1s;
    border-right: 8px solid var(--color);
    -webkit-text-stroke: 1px var(--color);
}

ul li a:hover::before {
    width: 100%;
    filter: drop-shadow(0 0 25px var(--color));
}
