@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #cbe058;
}
a {
    position: relative;
    padding: 15px 40px;
    background: #fff;
    color: #555;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.2em;
    letter-spacing: 2px;
    clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0% 100%, 10% 50%, 0% 0%);
    transition: 0.5s;
}
a:hover {
    clip-path: polygon(100% 0%, 90% 48%, 100% 100%, 10% 100%, 0% 50%, 10% 0);
    background: #a7b612;
    color: #fff;
    letter-spacing: 4px;
}
