@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}
h2 {
    margin-bottom: 30px;
    font-size: 2.5em;
}
.box {
    position: relative;
    width: 600px;
    height: 200px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 2px solid #555;
}
.box label {
    position: relative;
    height: 33.333%;
    width: 100%;
    border: 2px solid #555;
    border-bottom: none;
}
.box label input {
    appearance: none;
}
.box label i {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 600px;
}
.box label:nth-child(1) i {
    background-image: url(images/01.jpg);
    animation: animate 0.5s steps(3) infinite;
}
.box label:nth-child(2) i {
    background-image: url(images/02.jpg);
    animation: animate 0.4s steps(3) infinite;
}
.box label:nth-child(3) i {
    background-image: url(images/03.jpg);
    animation: animate 0.7s steps(3) infinite;
}
@keyframes animate {
    0% {
        background-position: 0px;
    }
    100% {
        background-position: 600px;
    }
}
.box label input:checked ~ i {
    animation-play-state: paused;
}
.reset {
    margin-top: 40px;
    border: none;
    font-size: 1.25em;
    padding: 10px 25px;
    background: #333;
    color: #fff;
}
.reset:active {
    background: #d63c3c;
    transform: scale(0.95);
}
