* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #111;
}

.scan {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scan .fingerprint {
    position: relative;
    width: 300px;
    height: 380px;
    background: url(fingerPrint_01.png);
    background-size: 300px;
}

.scan .fingerprint::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(fingerPrint_02.png);
    background-size: 300px;
    animation: fingerprint 4s ease-in-out infinite;
}

@keyframes fingerprint {
    0%,
    100% {
        height: 0%;
    }
    50% {
        height: 100%;
    }
}

.scan .fingerprint::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8px;
    background: #3fefef;
    border-radius: 8px;
    filter: drop-shadow(0 0 20px #3fefef) drop-shadow(0 0 60px #3fefef);
    animation: fingerprintLine 4s ease-in-out infinite;
}

@keyframes fingerprintLine {
    0%,
    100% {
        top: 0%;
    }
    50% {
        top: 100%;
    }
}

.scan h3 {
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 1px;
    margin-top: 20px;
    color: #3fefef;
    filter: drop-shadow(0 0 20px #3fefef) drop-shadow(0 0 60px #3fefef);
    animation: fingerprintText 2s steps(1) infinite;
}

@keyframes fingerprintText {
    0%,
    100% {
        opacity: 0;
    }
    25%,
    75% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
}
