@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #67a5d4;
    background: #f7f7f7;
}
.navigation {
    width: 80px;
    background: #fff;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: -20px 20px 50px rgba(0, 0, 0, 0.05);
}
.navigation.active {
    width: 400px;
}
.navigation .menu_toggle {
    position: relative;
    width: 80px;
    height: 70px;
    background: #fff;
    display: flex;
    align-items: flex-start;
    align-items: center;
    cursor: pointer;
    padding: 0 20px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.navigation .menu_toggle::before {
    content: "";
    position: absolute;
    width: 35px;
    height: 2px;
    background: #333;
    transform: translateY(-10px);
    transition: 0.5s;
}
.navigation .menu_toggle::after {
    content: "";
    position: absolute;
    width: 35px;
    height: 2px;
    background: #333;
    transform: translateY(10px);
    box-shadow: 0 -10px #333;
    transition: 0.5s;
}
.navigation.active .menu_toggle::before {
    transform: translateY(0px) rotate(45deg);
}
.navigation.active .menu_toggle::after {
    transform: translateY(0px) rotate(-45deg);
    box-shadow: 0 0 #333;
}
.navigation .profile {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    padding: 0 10px;
}
.navigation .profile .imgBx {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
    transition: 0.5s;
}
.navigation.active .profile .imgBx {
    width: 200px;
    height: 200px;
}
.navigation .profile .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.navigation .menu {
    position: relative;
    width: 100%;
    padding: 10px;
    transition: 0.5s;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.navigation.active .menu {
    padding: 10px 20px;
}
.navigation .menu li {
    list-style: none;
}
.navigation .menu li a {
    position: relative;
    display: flex;
    text-decoration: none;
    color: #111;
    border-radius: 10px;
}
.navigation .menu li a:hover {
    background: #0084ff;
    color: #fff;
}
.navigation .menu li a .icon {
    position: relative;
    min-width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}
.navigation .menu li a .text {
    position: relative;
    height: 60px;
    display: flex;
    padding-left: 10px;
    justify-content: center;
    align-items: center;
    font-size: 1.25em;
}
