* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#canvas {
  position: absolute;
  width: 100%;
}

.controls {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 100;
}

button {
  padding: 8px;
  font-size: 25px;
  margin: 15px;
  background-color: black;
  color: white;
  transition: all 0.5s ease;
}
button:hover {
  background-color: white;
  color: black;
}

img {
  display: none;
}
