* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#canvas {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(darkblue, blue, lightblue);
  position: absolute;
  top: 0;
  left: 0;
}
