@use '../custom' as *;
@use '../components/mixins' as *;

.footer {
    padding-top: 1rem;
    background-color: $footer;
}

// contact box content
.contact-box {
    position: relative;

    &__icon {
        width: 2rem;
        stroke: $primary;
        padding-top: 0.5rem;

        @include media-breakpoint-up(sm) {
            width: 4rem;
        }
    }

    &__info {
        padding: 0.4rem;
        font-weight: 600;

        &--title {
            color: $white;
            text-decoration: none;
            font-size: 1rem;

            @include media-breakpoint-up(sm) {
                font-size: 1.4rem;
            }
        }

        &--subtitle {
            color: $gray-600;
            text-decoration: none;
            font-size: 0.8rem;

            @include media-breakpoint-up(sm) {
                font-size: 1rem;
            }
        }
    }
}

// social media link
.footer-sm {
    a {
        color: $white;

        i {
            font-size: 1rem;
            margin-left: 0.5rem;

            @include media-breakpoint-up(sm) {
                font-size: 2rem;
            }
        }
    }
}

// company info
.company-list {
    display: block;
    list-style-type: none;
    position: relative;

    li {
        margin-bottom: 0.5rem;
        text-decoration: none;

        a {
            color: $white;
            text-decoration: none;

            &:hover {
                color: $primary;
            }
        }
    }
}

// copyright info
.footer-bottom {
    background-color: $black;

    &__copyright {
        color: $gray-600;
        font-weight: 400;

        a {
            color: $gray-300;
            text-decoration: none;

            &:hover {
                color: $primary;
                text-decoration: underline;
            }
        }
    }
}

// back to top button
.back-to-top {
    position: fixed;
    width: 3rem;
    height: 3rem;
    right: 1.875rem;
    bottom: 1.875rem;
    z-index: 999;
    border-radius: 10px;

    i {
        color: $white;
        font-size: 2rem;
        @include absoluteCenter;
    }
}
