* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.box {
    position: relative;
    width: 300px;
    height: 400px;
    transform-style: preserve-3d;
    perspective: 1000px;
}

img {
    width: 100%;
}

.box img {
    position: absolute;
    backface-visibility: hidden;
    transition: 1.5s;
}

.box img:nth-child(2) {
    transform: rotateY(180deg);
}

.box:hover img:nth-child(2) {
    transform: rotateY(0deg);
}

.box:hover img:nth-child(1) {
    transform: rotateY(-180deg);
}
